
/* Your CSS Code here. */
header{
    color: crimson;
    text-align: center;
    font-size: 30px;
}
body{
    background-color: black;
    color: white;
    text-align: center;
}
.heading{
    color: red;
}
